@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Confirmación</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;500;700;800&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" />
    <link rel="stylesheet" href="~/Content/styles/normalize.css" />
    <link rel="stylesheet" href="~/Content/styles/gracias.css"/>
</head>
<body>
    <div class="container">
        <div class="icon">
            <i class="fas fa-check-circle"></i> <!-- Icono de confirmación -->
        </div>
        <h2>Gracias por enviar su formulario</h2>
        <p>Su queja o reclamo ha sido recibido correctamente. Nos aseguraremos de darle seguimiento en el menor tiempo posible.</p>
        <a href="/Home/Index" class="btn">Volver al inicio</a>
    </div>

    <!-- Agregar Font Awesome para los íconos -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>
